#  Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Python
* R
* Scala
* Julia
* MATLAB

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Scala 
5. SQL
6. MATLAB

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn 
5. Scikit-learn
6. Keras
7. TensorFlow
8. PyTorch

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Apache Zeppelin|
|RStudio|
| Google Colab|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [21]:
 #This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [23]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Noman Riaz